<section class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-3"><a href="https://github.com/tianajen/mofo">Repo GitHub</a></div>
      <div class="col-6"><center>Made in Madagascar ❤️ ⭐⭐</center></div>
      <div class="col-3 right"><a href="https://www.facebook.com/jenny.rakotondramary"><i class="fa fa-facebook-official"></i> Tianajen</a> - 2018 </div>
    </div>
  </div>
</section>
